.firstDie{
    height:30px; 
    width:30px;     
}

.secondDie{
    height:30px; 
    width:30px;     
}

.thirdDie{
    height:30px; 
    width:30px;     
}

.total{
    font-size: 24px;
}

.center {
    margin: auto;
    width: 50%;    
    padding: 10px;
  }